c{
    width: 140px;
    height: 140px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10%;
    margin-bottom: +350px;
}
.cplus{
    opacity: 1;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-left: 1px;
    border-radius: 10%;
    margin-bottom: +350px;
}
.java{
    width: 140px;
    height: 140px;
    margin-top: 60px;
    border-radius: 10%;
    margin-bottom: +350px;
}
.sql{
    width: 140px;
    height: 140px;
    margin-top: 60px;
    border-radius: 10%;
    margin-bottom: +350px;
}
.team{
    width: 140px;
    height: 140px;
    margin-top: 60px;
  
    border-radius: 10%;
   
    margin-bottom: +350px;
}

.adap{
    width: 140px;
    height: 140px;
    margin-top: 60px;
    border-radius: 10%;
    margin-bottom: +350px;
}
.ppt{
    width: 140px;
    height: 140px;
    margin-top: 60px;
    border-radius: 10%;
    margin-bottom: +350px;
}
.html{
    width: 140px;
    height: 140px;
    margin-top: 80px;
    border-radius: 10%;
    margin-bottom: +350px;
}
.css{
    width: 140px;
    height: 140px;
    margin-top: 60px;
    border-radius: 10%;
    margin-bottom: +350px;
}
